export GH_TOKEN=...
export GH_REPO=fantasticorp-home
export GH_USER=bellkev
export CIRCLE_HOST=circle.fantasticorp.com
export ENV_VAR_MAP='{"AWS_DEFAULT_REGION" "us-east-1" "AWS_ACCESS_KEY_ID" "..." "AWS_SECRET_ACCESS_KEY" "..." "DOCKER_USER" "bellkev" "DOCKER_PASS" "..." "DOCKER_EMAIL" "kevin.a.bell@gmail.com" "TRELLO_KEY" "..." "TRELLO_TOKEN" "..." "TRELLO_CARD_ID" "..." "TRELLO_PR_LIST" "..." "DOCKER_HOST" "unix:///tmp/docker.sock"}'